%h2 Edit #{resource_name.to_s.humanize}

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .row
    .span1
      = f.label :email
    .span3
      = f.email_field :email
  .row
    .span1
      = f.label :password
    %span{style: 'font-style: italic;'} (leave blank if you don't want to change it)
    .span3
      = f.password_field :password, :autocomplete => "off"
  .row
    .span1
      = f.label :password_confirmation
    .span3
      = f.password_field :password_confirmation
  .row
    .span1
      = f.label :current_password
    %span{style: 'font-style: italic;'} (we need your current password to confirm your changes)
    .span3
      = f.password_field :current_password

  .span= f.submit "Update", class: 'btn btn-primary'

%br
%hr
%h3 Cancel my account

%p
  Unhappy?
  = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
  \.

= button_to "Back", :back, class: 'btn'
