%h2 Sign up

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .row
    .span2= f.label :email
    .span3= f.email_field :email

  .row
    .span2= f.label :password
    .span3= f.password_field :password

  .row
    .span2= f.label :password_confirmation
    .span3= f.password_field :password_confirmation

  .form-actions
    = f.submit "Sign up", class: 'btn btn-primary'

= render "links"
