%h2 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .span1
      = f.label :email
    .span3
      = f.email_field :email
  .row
    .span1
      = f.label :password
    .span3
      = f.password_field :password

  - if devise_mapping.rememberable?
    .row
      .span1
        = f.check_box :remember_me
      .span1
        = f.label :remember_me

  .form-actions
    = f.submit "Sign in", class: 'btn btn-primary'

%hr

= render "links"