.form-horizontal
  =form_for @parameter_set do |f|
    -if @parameter_set.errors.any?
      #error_explanation
      %h2
        ="#{pluralize(@parameter_set.errors.count, "error")} prohibited this parameter set from being saved:"
      %ul
        -@parameter_set.errors.full_messages.each do |msg|
          %li=msg

    .control-group
      .control-label= f.label :name
      .controls
        .text_field= f.text_field :name
    .control-group
      .control-label= f.label :description
      .controls
        .text_area= f.text_area :description
    .control-group
      .control-label= f.label :brackets
      .controls
        .text_area= f.text_area :brackets

      .form-actions
      .btn.btn-primary= f.submit nil
      .btn= link_to t('.cancel', :default => t("helpers.links.cancel")), parameter_sets_path
