%h1 Listing parameter sets

%table
  %tr
    %th
    %th
    %th Name
    %th Description

  - @parameter_sets.each do |parameter_set|
    %tr
      %td= button_to 'Like this set', vote_up_parameter_set_path(parameter_set), remote: true unless disable_vote?(parameter_set)
      %td= button_to 'Ugh!', vote_down_parameter_set_path(parameter_set), remote: true unless disable_vote?(parameter_set)
      %td= link_to parameter_set.name, parameter_set
      %td= parameter_set.description

%br

= link_to 'New Parameter Set', new_parameter_set_path
