.row-fluid
  .page-header
    %h2.span11
      Grab some ale, grab a world, and have fun.
    .span1= link_to 'New Settings', new_parameter_set_path, class: 'btn btn-primary', form_class: 'small_form'

- @parameter_sets.each do |pset|
  %hr
  .row-fluid
    .span1
      - if !disable_vote?(pset)
        .vote= link_to(image_tag('up_arrow.png'), '#', {method: 'put', 'data-id' => pset.id, 'data-direction' => 'up'})
        .vote= link_to(image_tag('down_arrow.png'), '#', {method: 'put', 'data-id' => pset.id, 'data-direction' => 'down'})
    .span2
      = image_for pset
    .span5
      .row
        .pset_name= link_to pset.name, pset
      .row
        .pset_description= pset.description
    .span2
      = tag_list_for pset
    .span2
      = pset.user.email
