%h1 Listing parameter sets

%table
  %tr
    %th Name
    %th Description
    %th Brackets
    %th>
    %th>
    %th>


  - @parameter_sets.each do |parameter_set|
    %tr
      %td= parameter_set.name
      %td= parameter_set.description
      %td= parameter_set.brackets
      %td= link_to 'Show', parameter_set
      %td= link_to 'Edit', edit_parameter_set_path(parameter_set)
      %td= link_to 'Destroy', parameter_set, confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Parameter Set', new_parameter_set_path
