<h1>Listing parameter sets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Brackets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parameter_sets.each do |parameter_set| %>
  <tr>
    <td><%= parameter_set.name %></td>
    <td><%= parameter_set.description %></td>
    <td><%= parameter_set.brackets %></td>
    <td><%= link_to 'Show', parameter_set %></td>
    <td><%= link_to 'Edit', edit_parameter_set_path(parameter_set) %></td>
    <td><%= link_to 'Destroy', parameter_set, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parameter Set', new_parameter_set_path %>
