#notice= notice

This set was created by #{@parameter_set.user.email}

.row
  .span3
    %b Name:
    = @parameter_set.name
    %p
    %b Description:
    = @parameter_set.description
  .span3
    .well{:style => 'background-color: transparent; border-style: none;'}
      = image_for @parameter_set
  .span6
    %b Brackets:
    = simple_format @parameter_set.brackets

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), parameter_sets_path, class: 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_parameter_set_path(@parameter_set), class: 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), parameter_set_path(@parameter_set), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), class: 'btn btn-danger'
