<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @parameter_set.name %>
</p>

<p>
  <b>Description:</b>
  <%= @parameter_set.description %>
</p>

<p>
  <b>Brackets:</b>
  <%= @parameter_set.brackets %>
</p>


<%= link_to 'Edit', edit_parameter_set_path(@parameter_set) %> |
<%= link_to 'Back', parameter_sets_path %>
