!!!HTML

%head
  %title Dwarf Fortress World Generation Settings Home
  = stylesheet_link_tag :application, :media => :all
  = javascript_include_tag :application
  = csrf_meta_tags

%body
  .container
    =render 'layouts/navbar'

    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert

    = yield

    %footer
      %h4 DO NOT FALL IN LOVE WITH YOUR DATA. This is an alpha release. Features can be added, removed, and data can be dropped without warning.
      %h4 Feedback is welcome. The app is on #{link_to 'github', 'https://github.com/Trevoke/dfworldgen'} and the developer can be reached at 'trevoke_AT_gmail.com'